---
import heroimg from "@images/amanda_img.jpeg"
---

<div class="p-100px flex justify-center items-center h-full"> 
  <div class="flex flex-wrap w-full max-w-1200px">
    <div class="w-full desktop:w-1/2 mb-8 desktop:flex desktop:flex-col desktop:content-center desktop:justify-center gap-2">
      <p class="text-[#efece8] playfair-display-bold text-38px pb-2 pr-10 antialiased hero-title">
        Sua jornada rumo à nacionalidade portuguesa.</p>
      <p class="text-[#efece8] playfair-display-regular text-22px pb-2 pr-10 tracking-wide hero-subtitle">
       Se você é filho ou neto de português, não perca a oportunidade de reviver a história da sua família em Portugal, por meio da obtenção da nacionalidade portuguesa.      </p>
      <button id="contact-button" class="font-bold px-6 py-4 bg-[#a57c59] text-[#efece8] text-22px my-2 rounded-md max-w-350px hero-button">
        CONTRATAR AGORA
      </button>
    </div>
    <div class="w-full desktop:w-1/2 flex justify-center">
      <div class="max-w-full desktop:max-w-[450px]">
        <img class="drop-shadow-2xl ring ring-white ring-offset-4 animate-bounce-alternate" src={heroimg.src} alt="fotografia adv. amanda ferraz">
      </div>
    </div>
  </div>
</div>
